{% extends "base.html" %}

{% load static %}
{% block extra_head %}
    <title>Svadba R&D</title>
{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<section id="home">
    <div class="main-container">

        <h1 class="h1-romana-dano"><i class="fa-regular fa-rings-wedding"></i> Romana a Daniel <i class="fa-regular fa-rings-wedding"></i></h1>


        <h2>21. 9. 2024</h2>
    </div>

    <div class="slider">
        {% for photo in photos %}
            <div><img src="{{ photo.photo.url }}" alt="Slide"></div>
        {% endfor %}
    </div>

    <div class="countdown-container">
      <div id="flipdown" class="flipdown"></div>
    </div>
</section>

<section id="where">
    <h1 class="section-h1">Kde</h1>
    <div class="where-container">
        <div class="place-container">
            <h1>Obrad</h1>
            <p>Začiatok: 14:00</p>
            <p>Kostol sv. Cyrila a Metoda (Terchová)</p>
            <p><i class="fa-regular fa-map-location-dot"></i> Sv. Martina 1279/10, 013 06 Terchová</p>
            <br>
            <a class="open-map-button" href="https://www.google.com/maps?q=49.258087291277164, 19.031563697293645" target="_blank">Mapa google</a>

        </div>
        <div class="place-container">
            <h1>Svadobná hostina</h1>
            <p>Začiatok: 16:00</p>
            <p>Hotel Boboty, Malá Fatra</p>
            <p><i class="fa-regular fa-map-location-dot"></i> Vrátna 515, 013 06 Terchová</p>
            <br>
            <a class="open-map-button" href="https://www.google.com/maps?q=49.23614828253267, 19.05070968465837" target="_blank">Mapa google</a>

        </div>
    </div>
</section>

<section id="info">
    <img class="stromy" src="{% static 'images/stromy.jpg' %}">
    <h1 class="section-h1">Informácie k svadbe</h1>
    <div class="info-containers">
        <div class="info-container">
            <h3>Pred obradom</h3>
            <p>
                O 13:15 sa spoločne stretneme pred kostolom v Terchovej, kde pre Vás bude pripravené pohostenie.
                <br>
                Zaparkovať môžete pozdĺž cesty pred kostolom alebo naproti kostolu pred obecným úradom.
                <br>
                Prosíme o dochvíľnosť, ďakujeme.
            </p>
        </div>
        <div class="info-container">
            <h3>Po obrade</h3>
            <p>
                Po obrade bude priestor na gratulácie a hromadné fotenie.
                <br>
                Následne sa vlastnými autami spoločne presunieme do krásneho horského prostredia k hotelu Boboty.
            </p>
        </div>
        <div class="info-container">
            <h3>Ubytovanie</h3>
            <p>
                Aby ste sa nemuseli nijak obmedzovať, máme pre Vás zabezpečené ubytovanie priamo v hoteli Boboty, v ktorom sa bude konať svadobná hostina.
                <br>
                Okrem nádherných výhľadov bude súčasťou ubytovania aj hotelové wellness a raňajky.
                <br>
                V prípade záujmu o ubytovanie, Vás o všetkých podrobnostiach budeme včas informovať.
            </p>
        </div>
        <div class="info-container">
            <h3>Zábava</h3>
            <p>
                Celým večerom (a nocou) nás bude sprevádzať česká kapela Astmatic.
                <br>
                Odporúčame Vám si vziať pohodlnú tanečnú obuv, pretože ako už na Slovensku býva zvykom – po polnoci začína tá najlepšia zábava.
            </p>
        </div>
        <div class="info-container">
            <h3>Deti</h3>
            <p>
                Budeme radi, ak si náš deň užijete s nami a budeme ho spoločne brať ako jednu veľkú párty.
                <br>
                Preto Vás prosíme, nechajte svoje ratolesti v tento deň na starosť babičkám/tetám, nech si aj oni užijú spoločne strávený čas.
                <br>
                Ďakujeme <3
            </p>
        </div>
        <div class="info-container">
            <h3>Dary</h3>
            <p>
                Milá rodinka a kamaráti, nelámte si hlavu nad vecnými darmi, pre nás je najdôležitejšie, že s nami oslavite tento náš deň.
                <br>
                Ak by ste nás ale chceli obdarovať, budeme vďační za každý, zo srdca venovaný finančný dar, ktorý použijeme na rekonštrukciu nášho vysnívaného domova.
                <br>
                Vopred Vám veľmi pekne ďakujeme <3
            </p>
        </div>
        <div class="info-container">
            <h3>Dress Code</h3>
            <p>
                Ak by ste sa chceli zladiť s našou svadbou, odporúčili by sme Vám tieto farby:
            </p>
            <img src="{% static 'images/farby.jpg' %}" alt="">
        </div>
    </div>
</section>

<hr>

<section id="form">
    <h1 class="section-h1">Dotazník</h1>
    <h3 style="text-align: center;">
        Prosíme Vás o vyplnenie nasledujúceho dotazníka najneskôr do 30.06.2024.
        <br>
        Ďakujeme
    </h3>
    {% include 'form.html' %}
</section>

{% endblock %}

{% block extra_scripts %}

{% endblock %}