body{
    margin: 0px;
    margin-top: 120px;
    padding: 0px;
}

section {
    margin-bottom: 100px;
}

#where {
    background-color: #567b66;
    width: 100%;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    display: flex;
    z-index: 5;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.open-map-button,
.navbar-content a{
    font-family: 'BreathingFont', sans-serif;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: white;
    color: black;
    transition: 0.3s;
}

.place-container h1{
    font-family: 'BreathingFont', sans-serif;
    font-size: 35px;
    margin-bottom: 0px;
}

.segment label,
.info-container p,
.place-container p {
    font-size: 20px;
}

.info-container h3{
    font-family: 'BreathingFont', sans-serif;
    font-size: 28px;
}

.open-map-button:hover,
.navbar-content a:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: #2e513d;
    color: white;
}

.section-h1 {
    text-align: center;
    font-family: 'BreathingFont', sans-serif;
    font-size: 35px;
}

/* Style the form container */
form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border: none;
    border-radius: 15px;
    background-color: #567b66;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 40px;
}

#song,
#full_name {
    width: 97%;
}

form:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.checkbox-container {
    display: flex;
    margin: auto;
}

.diet-restrictions-text-input,
.date-from-to-inputs {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.diet-restrictions-text-input.show,
.date-from-to-inputs.show {
    display: block;
    opacity: 1;
}

.label-input-container {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.label-input-container label {
    font-size: 18px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.yes-no-container {
    margin-right: 10px;
    display: flex;
}

/* Style form labels */
label {
    display: block;
}

.question {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 10px;
}

.segment {
    margin-bottom: 20px;
}

/* Style text inputs */
input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style checkboxes and radio buttons */
input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #2e513d;
    color: white;
    margin: auto;
    width: 70%;
    padding: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
}

button[type="submit"]:hover {
    background-color: #2e513dd1;
}

.radio-options-in-row {
    display: flex;
}

.radio-options-in-row input {
    margin-right: 10px;
}


.slider {
    width: 100%; /* Set the width of the slider */
    height: auto;
    margin: 0 auto; /* Center the slider */
    position: relative;
}

.slider img {
    width: 100%; /* Ensure images fill the slider */
    height: auto; /* Maintain image aspect ratio */
}

.slick-prev,
.slick-next {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 1;
}

.slick-prev {
    left: 10px; /* Adjust the position of the left arrow */
}

.slick-next {
    right: 10px; /* Adjust the position of the right arrow */
}

.custom-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ccc;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

/* Style for the active dot */
.slick-active .custom-dot {
    background: #333;
}

.slick-dotted.slick-slider .slick-dots li {
    margin: 5px 5px; /* Adjust space between dots */
    display: inline-block;
    list-style: none; /* Remove list-style markers */
}

.slick-dotted.slick-slider .slick-dots {
    display: flex;
    justify-content: center; /* Align dots to the center */
}

.where-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 10px;
}

.place-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.info-containers{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container{
    text-align: center;
}

.rotor-group-heading {
    display: none;
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#flipdown {
    width: auto;
    margin: auto;
}